# Ignore binaries at any level
bin/
obj/
EmulatorLog/
~*
/DotNow/xOldStuff
/Arduino/Apps/Bumblebee_Displacement_Detector/Analysis/2015.04.14 10.15.57 Arduino Displacement Detector Bush Experiment
/.dropbox
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.0).pdf
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.3).pdf
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.1) .pdf
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.3).docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.2).docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.1) .docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial.vsd
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.0).docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Displacement Detector Experiment/Detecting a Person Walking on a Driveway - Using the Arduino with a BumbleBee Radar .docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Displacement Detector Writeup/Arduino – BumbleBee Radar Displacement Detector  System Documentation (1.1).docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Displacement Detector Writeup/Older/Arduino - Bumblebee Radar Displacement Detector (1.0).docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.4).docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Summary of Comments on Bumblebee Radar Tutorial (v 1.1-mike).pdf
/Arduino/Apps/Bumblebee_Displacement_Detector/Node/*.opensdf
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.5).docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.5).pdf
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.6).docx
/Active/Data Collector Suite \[N\]/xOld or Temp Stuff (not for release)/Data Collector Host
/Active/On-Off Switch With Serial Link \[N\]/Current/On-Off Switch With Serial Link - Mote/eMote
/Drafts/xOldStuff
/Arduino/Apps/Bumblebee_Displacement_Detector/Displacement Detector Writeup/Displacement Detector Program Documentation (1.2).docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Displacement Detector Writeup/Older/Arduino – BumbleBee Radar Displacement Detector  System Documentation (1.1).docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Overview.docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Displacement Detector Experiment/Detecting a Person Walking on a Driveway - Using the Arduino with a BumbleBee Radar .pdf
/Arduino/Apps/Bumblebee_Displacement_Detector/Displacement Detector Writeup/Displacement Detector Program Documentation (1.2).pdf
/Arduino/Apps/Bumblebee_Displacement_Detector/Displacement Detector Writeup/Older/ST LD1117V33 Voltage Regulator Spec Sheet.pdf
/Arduino/Apps/Bumblebee_Displacement_Detector/Overview.pdf
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.21, 18-30/Dlls/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.dll
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.21, 18-30/Dlls/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.pdbx
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.21, 18-30/Dlls/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.pe
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.21, 18-30/Dlls/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.dll
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.21, 18-30/Dlls/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.pdbx
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.21, 18-30/Dlls/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.pe
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.21, 20-37/Dlls/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.pdbx
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.21, 20-37/Dlls/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.pe
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.21, 20-37/Dlls/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.pdbx
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.21, 20-37/Dlls/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.pe
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.22, 14-36/Dlls/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.pdbx
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.22, 14-36/Dlls/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.pe
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.22, 14-36/Dlls/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.pdbx
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.22, 14-36/Dlls/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.pe
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.22, 18-07/Dlls/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.dll
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.22, 18-07/Dlls/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.pdb
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.22, 18-07/Dlls/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.pdbx
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.22, 18-07/Dlls/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.pe
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.22, 18-07/Dlls/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.dll
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.22, 18-07/Dlls/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.pdb
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.22, 18-07/Dlls/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.pdbx
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.22, 18-07/Dlls/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.pe
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.23, 19-51/Dlls/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.dll
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.23, 19-51/Dlls/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.pdb
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.23, 19-51/Dlls/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.pe
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.23, 19-51/Dlls/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.dll
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.23, 19-51/Dlls/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.pdb
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.23, 19-51/Dlls/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.pdbx
/Drafts/ADAPT/0 ADAPT Utilities/ADAPT jitter profiler/ADAPT jitter profiler/ADAPT jitter profiler/eMote - 2014.05.23, 19-51/Dlls/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.pe
/Drafts/ADAPT/Radar Data Exfiltrator \[A\]/Current/Radar Data Exfiltrator - Mote/Radar Data Exfiltrator - Mote/eMote - Old/Dlls/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.pdbx
/Drafts/ADAPT/Radar Data Exfiltrator \[A\]/Current/Radar Data Exfiltrator - Mote/Radar Data Exfiltrator - Mote/eMote - Old/Dlls/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.pdbx
/Active/Individual/Wireless Data Collector \[N\]/Current/Wireless Data Collector - Base/Wireless Data Collector - Base/Wireless Data CollectorRadio Data Collector - Base.csproj.user
/Setup
/Mgmt/eMote Setup/Setup1/eMote/Express/CD_ROM/DiskImages
/eMote/eMote .NOW Current Release/CLRandBooter/Emote_TinyBooter_v1.1.axf
/eMote/eMote .NOW Current Release/CLRandBooter/Emote_TinyCLR_v14.hex/ER_CONFIG
/eMote/eMote .NOW Current Release/CLRandBooter/Emote_TinyCLR_v14.hex/ER_DAT
/eMote/eMote .NOW Current Release/CLRandBooter/Emote_TinyCLR_v14.hex/ER_FLASH
/eMote/eMote .NOW Current Release/CLRandBooter/Emote_TinyCLR_v14.hex/ER_IFLASH
/eMote/eMote .NOW Current Release/CLRandBooter/release14_full_image.bin
/eMote/eMote .NOW Current Release/Samraksh_eMote/Samraksh_eMote.XML
/eMote/eMote .NOW Current Release/Samraksh_eMote/Samraksh_eMote.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote/Samraksh_eMote.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote/be/Samraksh_eMote.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote/be/Samraksh_eMote.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote/be/Samraksh_eMote.pdbx
/eMote/eMote .NOW Current Release/Samraksh_eMote/be/Samraksh_eMote.pe
/eMote/eMote .NOW Current Release/Samraksh_eMote/le/Samraksh_eMote.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote/le/Samraksh_eMote.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote/le/Samraksh_eMote.pdbx
/eMote/eMote .NOW Current Release/Samraksh_eMote/le/Samraksh_eMote.pe
/eMote/eMote .NOW Current Release/Samraksh_eMote_Adapt/Samraksh_eMote_Adapt.XML
/eMote/eMote .NOW Current Release/Samraksh_eMote_Adapt/Samraksh_eMote_Adapt.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_Adapt/Samraksh_eMote_Adapt.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.pdbx
/eMote/eMote .NOW Current Release/Samraksh_eMote_Adapt/be/Samraksh_eMote_Adapt.pe
/eMote/eMote .NOW Current Release/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.pdbx
/eMote/eMote .NOW Current Release/Samraksh_eMote_Adapt/le/Samraksh_eMote_Adapt.pe
/eMote/eMote .NOW Current Release/Samraksh_eMote_DSP/Samraksh_eMote_DSP.XML
/eMote/eMote .NOW Current Release/Samraksh_eMote_DSP/Samraksh_eMote_DSP.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_DSP/Samraksh_eMote_DSP.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_DSP/be/Samraksh_eMote_DSP.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_DSP/be/Samraksh_eMote_DSP.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_DSP/be/Samraksh_eMote_DSP.pdbx
/eMote/eMote .NOW Current Release/Samraksh_eMote_DSP/be/Samraksh_eMote_DSP.pe
/eMote/eMote .NOW Current Release/Samraksh_eMote_DSP/le/Samraksh_eMote_DSP.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_DSP/le/Samraksh_eMote_DSP.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_DSP/le/Samraksh_eMote_DSP.pdbx
/eMote/eMote .NOW Current Release/Samraksh_eMote_DSP/le/Samraksh_eMote_DSP.pe
/eMote/eMote .NOW Current Release/Samraksh_eMote_DotNow/Samraksh_eMote_DotNow.XML
/eMote/eMote .NOW Current Release/Samraksh_eMote_DotNow/Samraksh_eMote_DotNow.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_DotNow/Samraksh_eMote_DotNow.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_DotNow/be/Samraksh_eMote_DotNow.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_DotNow/be/Samraksh_eMote_DotNow.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_DotNow/be/Samraksh_eMote_DotNow.pdbx
/eMote/eMote .NOW Current Release/Samraksh_eMote_DotNow/be/Samraksh_eMote_DotNow.pe
/eMote/eMote .NOW Current Release/Samraksh_eMote_DotNow/le/Samraksh_eMote_DotNow.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_DotNow/le/Samraksh_eMote_DotNow.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_DotNow/le/Samraksh_eMote_DotNow.pdbx
/eMote/eMote .NOW Current Release/Samraksh_eMote_DotNow/le/Samraksh_eMote_DotNow.pe
/eMote/eMote .NOW Current Release/Samraksh_eMote_Kiwi/Samraksh_eMote_Kiwi.XML
/eMote/eMote .NOW Current Release/Samraksh_eMote_Kiwi/Samraksh_eMote_Kiwi.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_Kiwi/Samraksh_eMote_Kiwi.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_Kiwi/be/Samraksh_eMote_Kiwi.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_Kiwi/be/Samraksh_eMote_Kiwi.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_Kiwi/be/Samraksh_eMote_Kiwi.pdbx
/eMote/eMote .NOW Current Release/Samraksh_eMote_Kiwi/be/Samraksh_eMote_Kiwi.pe
/eMote/eMote .NOW Current Release/Samraksh_eMote_Kiwi/le/Samraksh_eMote_Kiwi.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_Kiwi/le/Samraksh_eMote_Kiwi.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_Kiwi/le/Samraksh_eMote_Kiwi.pdbx
/eMote/eMote .NOW Current Release/Samraksh_eMote_Kiwi/le/Samraksh_eMote_Kiwi.pe
/eMote/eMote .NOW Current Release/Samraksh_eMote_Net/Samraksh_eMote_Net.XML
/eMote/eMote .NOW Current Release/Samraksh_eMote_Net/Samraksh_eMote_Net.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_Net/Samraksh_eMote_Net.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_Net/be/Samraksh_eMote_Net.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_Net/be/Samraksh_eMote_Net.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_Net/be/Samraksh_eMote_Net.pdbx
/eMote/eMote .NOW Current Release/Samraksh_eMote_Net/be/Samraksh_eMote_Net.pe
/eMote/eMote .NOW Current Release/Samraksh_eMote_Net/le/Samraksh_eMote_Net.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_Net/le/Samraksh_eMote_Net.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_Net/le/Samraksh_eMote_Net.pdbx
/eMote/eMote .NOW Current Release/Samraksh_eMote_Net/le/Samraksh_eMote_Net.pe
/eMote/eMote .NOW Current Release/Samraksh_eMote_RealTime/Samraksh_eMote_RealTime.XML
/eMote/eMote .NOW Current Release/Samraksh_eMote_RealTime/Samraksh_eMote_RealTime.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_RealTime/Samraksh_eMote_RealTime.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_RealTime/be/Samraksh_eMote_RealTime.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_RealTime/be/Samraksh_eMote_RealTime.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_RealTime/be/Samraksh_eMote_RealTime.pdbx
/eMote/eMote .NOW Current Release/Samraksh_eMote_RealTime/be/Samraksh_eMote_RealTime.pe
/eMote/eMote .NOW Current Release/Samraksh_eMote_RealTime/le/Samraksh_eMote_RealTime.dll
/eMote/eMote .NOW Current Release/Samraksh_eMote_RealTime/le/Samraksh_eMote_RealTime.pdb
/eMote/eMote .NOW Current Release/Samraksh_eMote_RealTime/le/Samraksh_eMote_RealTime.pdbx
/eMote/eMote .NOW Current Release/Samraksh_eMote_RealTime/le/Samraksh_eMote_RealTime.pe
/eMote/eMote .NOW Current Release/eMote_Release_14_Notes.rtf
/Active/App Notes/Serial Ping-Pong \[N\]/Release/Serial Ping-Pong 1.0.v12.suo
/Active/App Notes/Serial Ping-Pong \[N\]/Release/Serial Ping-Pong 1.0.sln.DotSettings.user
/Active/App Notes/CSMA Radio Ping-Pong \[N\]/Current/CSMA Radio Ping-Pong \[N\] 1.3.v12.suo
/Active/App Notes/CSMA Radio Ping-Pong \[N\]/Current/CSMA Radio Ping-Pong \[N\] 1.3.v11.suo
/Active/App Notes/CSMA Radio Ping-Pong \[N\]/Current/*.suo
/Active/App Notes/CSMA Radio Ping-Pong \[N\]/*.suo
/Active/App Notes/Radio Ping-Pong \[N\]/*.suo
*.suo
