# Ignore binaries at any level
bin/
obj/
EmulatorLog/
~*
/DotNow/xOldStuff
/Arduino/Apps/Bumblebee_Displacement_Detector/Analysis/2015.04.14 10.15.57 Arduino Displacement Detector Bush Experiment
/.dropbox
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.0).pdf
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.3).pdf
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.1) .pdf
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.3).docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.2).docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.1) .docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial.vsd
/Arduino/Apps/Bumblebee_Displacement_Detector/Bumblebee Tutorial/Bumblebee Radar Tutorial (v 1.0).docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Displacement Detector Experiment/Detecting a Person Walking on a Driveway - Using the Arduino with a BumbleBee Radar .docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Displacement Detector Writeup/Arduino – BumbleBee Radar Displacement Detector  System Documentation (1.1).docx
/Arduino/Apps/Bumblebee_Displacement_Detector/Displacement Detector Writeup/Older/Arduino - Bumblebee Radar Displacement Detector (1.0).docx
